@import './base.css';

#app {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'navbar main';
  grid-template-columns: 18rem 1fr;
}

@media (max-width: 800px) {
  #app {
    grid-template-areas: 'main' 'navbar';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4rem;
  }
}

.navbar {
  grid-area: navbar;
  padding: 0.8rem;

  & nav {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}
.main {
  grid-area: main;
  padding: 1rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  display: flex;
  gap: 0.8rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
